
/*Discografia*/
.disc ul{
    text-align: center;
    padding: 2px;
}
.disc li{
    display: inline-block;
    padding: 30px;
}
.bot-disc:hover{
background: #d81515;
transform: scale(1.4);
border-block-style: rgb(240, 155, 155);
border: solid rgb(114, 56, 56) 2px;


}
.bot-disc:visited
{
  color: rgb(237, 236, 245);
}
.bot-disc{
  display: inline-block;
    background: rgb(4, 75, 16);
    text-decoration: none;
    padding: 5px;
    color:white;
    border-block-style: rgb(4, 110, 69), 2px;
    border:solid rgb(126, 187, 245) 2px;
    margin: 1 1px;
    transition: all 1.2s;
}


/*version 3 carrusel de mierda*/
#carouselExampleIndicators {
    width: 30%;
    border:auto;
    margin: auto;
    margin-top: 50px;
    padding: 0.7em;
    background: rgb(21, 201, 51);
    
  }
  #carouselExampleIndicators img {
    max-height: 600px;
    margin: auto;
   
  }
  #carouselExampleIndicators body{
      display: flex;
  }





    @media (max-width:750px){
        #carouselExampleIndicators img {
         
          max-height: 100%;
          max-width: 100%;
        }
    }
    

   
  

   
