body
    {
      background-color:rgb(217, 227, 247);
     background-size: cover;
     margin: 0%;

     
     }
     h1{
         text-align: center;font-family: 'Times New Roman', Times, serif; color: rgb(17, 48, 48);
     }
     p{
         text-align: center; line-height: 1.4;font-family: 'Times New Roman', Times, serif; color: rgb(17, 48, 48);
         text-align: center;text-indent: 30px;margin-left: 20px;margin-right: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:}
     
h2{
    text-align: center; font-family: 'Times New Roman', Times, serif; color:rgb(17, 48, 48) ;
}
/*li{
    font-family: 'Times New Roman', Times, serif; color: aqua;
}*/
#foto1{
 text-align: center;
 
}
 
#foto2{
    text-align: center;
}
#foto5{
    text-align: center
}
footer{
       padding: 0px;
       margin: 0px;
       font-family: 'Times New Roman', Times, serif;
       box-sizing: border-box;
       color: white;
       background-color: rgb(63, 10, 10);
       width:100%;

}
.container-footer-all{
width: 100%;
max-width: 1200%;

}
.container-body{
    display: flex;
}
.colum1{
    max-width: 400px;
}
.colum1 h3{
    font-size: 20px;
}
.colum1 p{
    font-size: 14px;
    margin-top: 19px;
    color:white;
}
.colum2{
    max-width: 400px;
}
.colum2 h3{
    font-size: 20px;
}
.colum2 row{
    margin-top: 19px;
    display: flex;
}
.row img{
    width: 35px;
    height: 35px;
}
    
 /*ol{
   color:aqua;
   display: contents;
   margin: 1px;
}
ol li{
    color: blue;
    float:none;   
}
ul{
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            background-color:aqua; 
            overflow: hidden;
}
li{
    float: right;
}
 /*li a{/* listas linkeadas
    display: block;
    color: blue;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    
}
li a:visited{/* cuando el link es visitado fica azulin
    columns: #008080;
}
li a:hover{/*cuando pase el puntero encima de ella cambie el color
 background-color: aquamarine;
 columns: #a52a2a;
}*/
.container-footer{
    line-height: 1.0;
}
 #disc{
    width: 50%;
    max-width: 200px;
    margin: 2em;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 8px #999999;
}
#disc ul{
    text-align: right;
    padding: 0;
}
.disc li{
    display: inline-block;
    padding: 16px;
}
.bot-disc:hover{
background: rgb(90, 90, 236);
transform: scale(1.2);
color: antiquewhite;
}
.bot-disc:visited
{
  color: rgb(122, 101, 240);
}
.bot-disc{
    display:-moz-inline-box;
    background: rgb(107, 247, 247);
    text-decoration: none;
    padding: 7px;
    color: black;
    border-block-style: rgb(9, 114, 114), 2px;
    margin: 0 10px;
    transition: all 1.2s;
}
#navegador ul{
    text-align: right;
    padding: 0;
}
#navegador li{
    display: inline;
    padding: 10px;
}
.bot-nav:hover{
    background: #034747;
    transform: scale(1.4);
    color: white;
}
ul{
    list-style: none;
}

.bot-nav{
    background: aqua;
    display:inline-block;
    padding: 5px;
    color: black;
    border:solid #999 2px;
    margin: 0 10px;
    transition: all 1.4s;
    text-decoration: none;
    
}
#
    
