
/*Discografia*/
.disc ul{
    text-align: center;
    padding: 1px;
}
.disc li{
    display: inline-block;
    padding: 30px;
}
.bot-disc:hover{
background: #024d26;
transform: scale(1.4);
color: white;
}
.bot-disc:visited
{
  color: rgb(122, 101, 240);
}
.bot-disc{
  display: inline-block;
    background: rgb(21, 201, 51);
    text-decoration: none;
    padding: 5px;
    color:rgb(2, 54, 2);
    border-block-style: rgb(18, 136, 7), 2px;
    border:solid #999 2px;
    margin: 1 1px;
    transition: all 1.2s;
}


/*version 3 carrusel de mierda*/
#carouselExampleIndicators {
    width: 60%;
    border:auto;
    margin: auto;
    padding: 1em;
    background: rgb(21, 201, 51);
    
  }
  #carouselExampleIndicators img {
    max-height: 400px;
    margin: auto;
   
  }
  #carouselExampleIndicators body{
      display: flex;
  }




/*Responsive del footer*/
@media screen and (max-width:1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum1{
        max-width: 100%;
    }
    .colum2,.colum3{
        margin-top: 40px;
    }
}   
/*Responsive del navegador*/
   @media (max-width:690px){
       header label{
           display: block;
       }
       #navegador{
           position: absolute;
           width: 75%;
           margin-left: -75%;
       }
       #navegador li{
       display: block;
       padding: 2%;
       margin: 2px;
       margin-top: 0;
       }
       .bot-nav:hover{
           transform: scale(1.1);
       }
       p{
           line-height: 1.3;
       }
       body{
           background-size: 100vh;
       }
    .disc li{
        display: grid;
    }
    @media (max-width:690px){
        #carouselExampleIndicators img {
          max-height: 100%;
          max-width: 50%;
        }
    }
    

   }
  

   
